
/* FROM SVGImageHover*/

*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
}

body {
	--color-text: #272222;
	--color-bg: #faf6f1;
	--color-link: #e2af68;
	--color-link-hover: #333;
	--color-content-link: #000;
	--color-content-link-hover: #000;
	--color-heading: #d1cfcf;
	--font-content: Cardo;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, 'Nunito Sans', sans-serif;
}

.demo-2 {
	--color-text: #faf6f1;
    --color-bg: #191817;
    --color-link: #c3846e;
    --color-link-hover: #fff;
    --color-content-link: #FAF6F1;
    --color-content-link-hover: #FAF6F1;
    --color-heading: #4c4742;
    --font-content: 'Antic Didone';
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
}

.distort {
	position: absolute;
	pointer-events: none;
	will-change: transform;
}

.distort__img {
	opacity: 0;
}

.content {
	font-family: var(--font-content), serif;
	color: var(--color-content-text);
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	font-size: 10vh;
	font-weight: normal;
}

.demo-2 .menu {
	line-height: 1.5;
}

.menu__link,
.quote__link {
	z-index: 999;
	color: var(--color-content-link);
	position: relative;
	white-space: nowrap;
}

.menu__link:hover,
.quote__link:hover {
	color: var(--color-content-link-hover);
}

.menu__link span,
.quote__link span {
	display: inline-block;
}

@media screen and (min-width: 53em) {
	body {
		overflow: hidden;
	}
	.message {
		display: none;
	}

	.content {
		height: 100vh;
		justify-content: center;
	}

}
